POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=fkleetcode
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
LLM_API_KEY=api_key
LLM_MODEL=llm_model
EMBEDDINGS_API_KEY=api_key
EMBEDDINGS_MODEL=embeddings_model
EVAL_API_KEY=api_key
EVAL_MODEL=eval_model